<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index App_TWO</title>
</head>
<body>

{# Title block here #}
<!-- commentaire -->
<h1>{{ title }}</h1>

{% comment "This is a commented block, not visible in the generated HTMl"%}
<h2>Test title</h2>
{% endcomment %}

<div>
    Category: {{ category }} <br>
    Year: {{ year }} <br>
    Month: {{ month }} <br>
    Day: {{ day }} <br>
</div>

<h2>Access variable detail</h2>
<div>
    filename: {{ picture.filename }} <br>
    first category: {{ picture.categories.0 }}
</div>

</body>
</html>